<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bappy.austblooddonationapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AUSTBloodDonationApp">
        <activity android:name=".activities.editProfile"></activity>
        <activity android:name=".activities.myRequest" />
        <activity android:name=".activities.allDonorList" />
        <activity android:name=".activities.signUpDetails" />
        <activity android:name=".activities.aboutUs" />
        <activity android:name=".activities.userProfile" />
        <activity android:name=".activities.userRequest" />
        <activity android:name=".activities.showSearchResult" />
        <activity android:name=".activities.showPostDetails" />
        <activity android:name=".activities.showRequest" />
        <activity android:name=".activities.Dashboard" />
        <activity android:name=".activities.MakeRequestActivity" />
        <activity android:name=".activities.SearchPage" />
        <activity android:name=".activities.SignInScreen" />
        <activity android:name=".activities.SignUpScreen" />
        <activity android:name=".activities.StartingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>